/* ------------------- */
/* Fonts               */
/* ------------------- */ 
@font-face {
  font-weight: 400; 
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Regular.ttf");
}
 
@font-face {
  font-weight: 500; 
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Medium.ttf");
}
 
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Italic.ttf");
}

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
   /* colors */
   --clr-purple: 277 91% 56%;
   --clr-dark: 216 25% 25%;
   --clr-navy: 215 27% 32%;
   --clr-grey: 219 13% 44%;
   --clr-blue: 216 47% 78%;
   --clr-grey-light: 220 38% 97%;
   --clr-white: 0 0% 100%;
   --clr-green: 151 70% 50%;
   --clr-red: 0 82% 63%;

   /* font-sizes */
   --fs-xl: 9rem;
   --fs-l: 4rem;
   --fs-m: 2.25rem;
   --fs-s: 1.75rem;
   --fs-xs: 1.2rem;
   --fs-xxs: 0.75rem;
   
   /* font-families */
   --ff-default: "Rubik", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
   margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
   *,
   *::before,
   *::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* colors */

.bg-dark { background-color: hsl( var(--clr-navy) );}
.bg-light { background-color: hsl( var(--clr-grey) );}
.bg-white { background-color: hsl( var(--clr-white) );}
.bg-grey-light { background-color: hsl( var(--clr-grey-light) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-white { color: hsl( var(--clr-white) );}
.text-blue { color: hsl( var(--clr-blue) );}
.text-grey { color: hsl( var(--clr-grey) );}

/* typography */

.fs-xl { font-size: var(--fs-xl); }
.fs-l { font-size: var(--fs-l); }
.fs-m { font-size: var(--fs-m); }
.fs-s { font-size: var(--fs-s); }
.fs-xs { font-size: var(--fs-xs); }
.fs-xxs { font-size: var(--fs-xxs); }
.italic { font-style: italic; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }

/* General */

.flex-main {
  display: flex;
  justify-content: center;
  column-gap: 8.25rem;
}

.content-left{
  max-width: 29rem;
}

.option-box {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  width: 35.25rem;
  height: 6rem;
  background-color: hsl(var(--clr-white));
  font-weight: 500;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px hsl(var(--clr-grey) / 0.1);
  border: 0;
  cursor: pointer;
}

.button-purple {
  padding: 1.25rem;
  width: 35.25rem;
  height: 6rem;
  background-color: hsl(var(--clr-purple));
  font-weight: 500;
  border-radius: 1.5rem;
  border: 0;
  text-align: center;
  cursor: pointer;
}

.icon-bg-peach {
   background-color: #FFF1E9;
}

.icon-bg-green {
   background-color: #E0FDEF;
}

.icon-bg-blue {
   background-color: #EBF0FF;
}

.icon-bg-purple {
   background-color: #F6E7FF;
}

/* ------------------- */
/* Compontents         */
/* ------------------- */ 

/* Header */
.page {
  font-family: var(--ff-default);
  background-color: hsl(var(--clr-grey-light));
  background-image: url("./assets/images/pattern-background-desktop-light.svg");
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-container {
   padding: 97px 140px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8.75rem;
}

.subject-current {
  display: flex;
  align-items: center;
  column-gap: 0.875rem;
  /* visibility: hidden; */
}

.subject-title {
  font-weight: 500;
}

.mode-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.875rem;
}

.mode-toggle {
  opacity: 0;
  position: absolute;
}

.mode-button label {
  display: block;
  position: relative;
  width: 3rem;
  height: 1.75rem;
  border-radius: 30px;
  background-color: hsl(var(--clr-purple));
  cursor: pointer;
}

.mode-button label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  width: 1.25rem;
  height: 1.25rem;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.mode-toggle:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* Subjects menu page */

.start-menu {
  display: none;
}

.text-container {
  max-width: 500px;
}

.main-title {
   font-weight: 350;
   font-size: var(--fs-l);
   margin-bottom: 3rem;
}

.main-title span {
   font-weight: 550;
}

.main-desc {
   font-style: italic;
   font-size: 1.2rem;
}


.list-item:not(:last-child) {
   margin-bottom: 1.5rem;
}

.item-link {
   display: flex;
   align-items: center;
   padding: 1.25rem;
   width: 35.25rem;
   height: 6rem;
   background-color: hsl(var(--clr-white));
   font-weight: 500;
   border-radius: 1.5rem;
   box-shadow: 0 0 10px hsl(var(--clr-grey) / 0.1);
}

.prefix-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 3.5rem;
   height: 3.5rem;
   border-radius: 0.5rem;
}


.item-icon {
  width: 2.5rem;
}

.item-text {
   font-size: var(--fs-s);
   margin-left: 2rem;
}

 
/* Questions page */
.question-count {
  margin-bottom: 2.2rem;
}

.question-body {
  line-height: 1.25;
  margin-bottom: 8rem;
}

.question-progress {
  width: auto;
  height: 1rem;
  background-color: hsl( var(--clr-white) );
  padding: 0.25rem;
  border-radius: 1rem;
}

.progress-inner {
  width: auto;
  height: 0.5rem;
  background-color: hsl( var(--clr-purple) );
  border-radius: 1rem;
}

.choices-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.option-prefix {
  background-color: hsl(var(--clr-grey-light));
  margin-right: 2rem;
}

.questions-page {
  display: none;
}

/* Results page */
.result-details {
  border-radius: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  padding: 3rem;
}